.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout__main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #fafafa;
}

.layout__main--container {
  width: 100%;
  max-width: var(--page-max-width);
}
